* {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #707070;
}
.section-title {
  color: #121212;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 45px;
  margin-top: 130px;
}
.section-title-desc {
  text-align: center;
  width: 691px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.btn {
  padding: 16px 12px;
  border-radius: 5px;
  background: #ff5959;
  border: none;
  color: #ffffff;
}
.header {
  background-image: url(./images/donation13R.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #706e6e;
  /* background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0) 100%); */
  background-blend-mode: overlay;
}
.header-content {
  text-align: center;
  padding: 174px 307px;
}
.header-content h1 {
  color: #ffffff;
}
.header-content p {
  color: #ffffff;
}
.header-content p {
  margin: 20px 0 30px 0;
}
.amount-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  gap: 22px;
}
.amount {
  /* width: 135px;
  height: 123px; */
  border-radius: 5px;
  background: #fafafa;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 44px 24px;
  /* margin-right: 22px; */
}
.amount-highlight {
  border: 2px solid #ff5959;
  color: #ff5959;
  background: #fee;
}
.Other-cost,p,button {
  text-align: center;
  color: #b3b3b3;
}
hr {
  stroke-width: 1px;
  stroke: #dadada;
  width: 814px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.Donate-Plan-basic-needs {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.Donate-Plan-basic-needs img {
  width: 53px;
  height: 53px;
}
.basic-needs-title {
  color: #121212;
  font-size: 24px;
  font-weight: 600;
  margin: 25px 0 16px 0;
  text-align: left;
}

.basic-needs-desc {
  text-align: left;
}
.basic-needs-1 {
  padding: 64px 22px 54px;
  border-radius: 5px;
  background: #4f9da61a;
  width: 360px;
}
.basic-needs-2 {
  padding: 64px 22px 54px;
  border-radius: 5px;
  background: rgba(255, 89, 89, 0.1);
  width: 360px;
}
.basic-needs-3 {
  border-radius: 5px;
  background: #fff4d6;
  padding: 64px 22px 54px;
  width: 360px;
}
/* live-Project-container */

.live-Project-container {
  display: flex;
  gap: 90px;
  margin: 130px 311px;
  align-items: center;
}

.live-project-title {
  color: #121212;
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.project-desc-1 {
  font-size: 18px;
  text-align: left;
  margin: 20px 0;
}
.project-desc-2 {
  font-size: 18px;
  text-align: left;
  margin: 20px 0 30px;
}
.project {
  width: 50%;
}
.project img {
  width: 100%;
}
.email-subscribe {
  margin: 50px 311px 130px;
  padding: 76px 188px;
  height: 200px;
  background: #fff4d6;
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  position: relative;
}
.email-subscribe input {
  border-radius: 7px ;
  background: #d9d9d9;
  padding: 14px 218px 14px 17px;
  color: #aa9f9f;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
.email-subscribe button {
  padding: 14px 25px;
  border: none;
  border-radius: 0px 7px 7px 0px;
  background: #ff5959;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;

  position: absolute;
  top: 0;
  right: 0
  ;
}
footer {
  height: 177px;
  background: var(--default-black, #0b0d17);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-title {
  font-family: "Lobster", cursive;
  color: #ff5959;
  font-size: 36px;
  font-weight: 400;
}
.footer-desc {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: 400;
}

